<ion-header>
    <ion-toolbar>
      <ion-title>
        Ionic Blank
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list>
        
          
       
        </ion-list>
        
        <ion-list>
            <ion-img  class="spla" style="width: 30%; margin-left: 40%; " src="../../assets/images.png"></ion-img>
            <br>
            <ion-button class="text-center" >Ir</ion-button>
    <ion-label >REALIZAR TEST</ion-label>
        </ion-list>
  </ion-content>
  