<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Familia</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-button fill="outline" slot="end" [routerLink]="['content1']">View</ion-button>
              <ion-img style="width: 50%;" src="/assets/familia.jpg"></ion-img>
            </ion-item>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <ion-card-header>
            <ion-card-title>Colores</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-button fill="outline" slot="end" [routerLink]="['colores']">View</ion-button>
              <ion-img style="width: 50%;" src="/assets/colores-en-ingles.jpg"></ion-img>
            </ion-item>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <ion-card-header>
            <ion-card-title>Numeros</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-button fill="outline" slot="end" [routerLink]="['numeros']">View</ion-button>
              <ion-img style="width: 50%;" src="/assets/numeros.jpg"></ion-img>
            </ion-item>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <ion-card-header>
            <ion-card-title>Abecedario</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-button fill="outline" slot="end" [routerLink]="['abecedario']">View</ion-button>
              <ion-img style="width: 50%;" src="/assets/abecedario.jpg"></ion-img>
            </ion-item>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <ion-card-header>
            <ion-card-title>Dias</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-button fill="outline" slot="end" [routerLink]="['dias']">View</ion-button>
              <ion-img style="width: 50%;" src="/assets/calendario.jpg"></ion-img>
            </ion-item>
          </ion-card-content>
        </ion-card>        
     
      </ion-list>
      
      <ion-list>
          <ion-img  class="spla" style="width: 30%; margin-left: 36%; " src="../../assets/images.png"></ion-img>
          <br>
          <ion-button style="margin-left: 45%; " class="text-center" [routerLink]="['test']">Ir</ion-button>
          <br>
  <ion-label >REALIZAR TEST</ion-label>
      </ion-list>
</ion-content>
